@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
body {
    background: url(./img/zvezdy_nebo_kosmos_avtomobil_113629_3840x2160.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1 {
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
}
table {
    margin: auto;
    width: 500px;
    height: 500px;
    color: white;
    -webkit-box-shadow: -22px 20px 25px 9px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: -22px 20px 25px 9px rgba(255, 255, 255, 0.3);
    box-shadow: -22px 20px 25px 9px rgba(255, 255, 255, 0.3);
    font-family: 'Lobster', cursive;
}